@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

.color1 {
    color: darkorange;
}

.color2 {
    color: mediumpurple;
}

.emoji {
    height: 1em;
    width: auto;
    vertical-align: text-bottom;
}

body {
    background-color: black;
    color: white;
}